body{
    background-color: black;
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    text-align: center;
    color: #ffffff;
    margin: 30px 0px -15px;
}

.quiz_wrapper{
    height: 400px;
    width: 650px;
    background-color: white;
    margin: 30px auto;
    border-radius: 8px;
    padding: 30px;
}
.quiz_wrapper .question{
    min-height: 50px;
    background-color: blue;
    border-radius: 8px;
    color: #ffffff;
    padding: 15px;
    font-size: 20px;
    float: left;
    width: 100%;
}
.quiz_wrapper .options{
    float: left;
    width: 100%;
}
.quiz_wrapper .options ul{
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quiz_wrapper .options ul li{
    display: inline-block;
    background-color: indigo;
    width: 47%;
    padding: 15px;
    border-radius: 8px;
    margin-top: 25px;
    color: #ffffff;
    box-shadow: 0px 3px 0px grey;
    cursor: pointer;
    outline: none;

}
.quiz_wrapper .options ul li:active {
    box-shadow: 0px 3px 0px transparent;

}
.quiz_wrapper .options ul li.correct{
    background-color: green;
    box-shadow: 0px 3px 0px #03a503;
}
.quiz_wrapper .options ul li.wrong{
    background-color: red;
    box-shadow: 0px 3px 0px #cb0b0b;
}
.quiz_wrapper .score{
    width: 100%;
    float: left;
    padding: 25px 0px;
}
.quiz_wrapper .score .next{
    float: left;
    width: 40%;
}
.quiz_wrapper .score .next button{
    padding: 15px 80px;
    color: white;
    background-color: rgb(218, 145, 9);
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 3px 0px grey;
}
.quiz_wrapper .score .score-card{
    width: 60%;
    float: left;
}
.quiz_wrapper .score .score-card{
    font-style: 20px;
    color: black;
    line-height: 50px;
}
.quiz_wrapper .score .score-card span{
    background-color: violet;
    padding: 5px 20px;
    border-radius: 8px;

}


